@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Logo_Cont {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    background-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}
.signup-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 50px;
    padding: 10px; 
}
.login-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
    position: absolute;
    top: 12px;
    right: 200px;
    padding: 10px;
    text-decoration: none;
}